@font-face {
  font-family: "Parkinsans";
  src: url("/fonts/Parkinsans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  
}

@font-face {
  font-family: "Parkinsans";
  src: url("/fonts/Parkinsans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  
}

@font-face {
  font-family: "Parkinsans";
  src: url("/fonts/Parkinsans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  
}

@font-face {
  font-family: "Parkinsans";
  src: url("/fonts/Parkinsans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  
}

@font-face {
  font-family: "Parkinsans";
  src: url("/fonts/Parkinsans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  
}

@font-face {
  font-family: "Parkinsans";
  src: url("/fonts/Parkinsans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  
}
