@import "tailwindcss";
@plugin "tailwindcss-motion";

@theme {
	--font-sans: "Parkinsans", "Segoe UI", -apple-system, BlinkMacSystemFont,
		"Helvetica Neue", Arial, "Liberation Sans", "Nimbus Sans L", sans-serif;
	--font-mono: Consolas, "SFMono-Regular", Menlo, Monaco, "Liberation Mono",
		"Courier New", monospace;
	--breakpoint-xs: 370px; /* very small phones */
	--breakpoint-sm: 576px; /* phones */
	--breakpoint-md: 768px; /* tablets */
	--breakpoint-lg: 1024px; /* small laptops / landscape tablets */
	--breakpoint-hd: 1200px; /* HD (720p) */
	--breakpoint-fhd: 1900px; /* Full HD (1080p) */
	--breakpoint-qhd: 2500px; /* QHD (1440p / 2 K) */
	--breakpoint-uhd: 4000px; /* UHD (4 K) */
}

/* daisyUI */
@plugin "daisyui" {
	themes: false;
}

@plugin "daisyui/theme" {
	name: "light";
	default: true;
	color-scheme: "light";
	--color-base-100: oklch(100% 0 0);
	--color-base-200: oklch(97% 0 0);
	--color-base-300: oklch(94% 0 0);
	--color-base-content: oklch(0% 0 0);
	--color-primary: oklch(15.906% 0 0);
	--color-primary-content: oklch(100% 0 0);
	--color-secondary: oklch(21.455% 0.001 17.278);
	--color-secondary-content: oklch(100% 0 0);
	--color-accent: oklch(26.861% 0 0);
	--color-accent-content: oklch(100% 0 0);
	--color-neutral: oklch(0% 0 0);
	--color-neutral-content: oklch(100% 0 0);
	--color-info: oklch(79.54% 0.103 205.9);
	--color-info-content: oklch(15.908% 0.02 205.9);
	--color-success: oklch(90.13% 0.153 164.14);
	--color-success-content: oklch(18.026% 0.03 164.14);
	--color-warning: oklch(88.37% 0.135 79.94);
	--color-warning-content: oklch(17.674% 0.027 79.94);
	--color-error: oklch(78.66% 0.15 28.47);
	--color-error-content: oklch(15.732% 0.03 28.47);
	--radius-selector: 1rem;
	--radius-field: 2rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 2px;
	--depth: 0;
	--noise: 0;
}

@plugin "daisyui/theme" {
	name: "dark";
	color-scheme: "dark";
	--color-base-100: oklch(25.33% 0.016 252.42);
	--color-base-200: oklch(23.26% 0.014 253.1);
	--color-base-300: oklch(21.15% 0.012 254.09);
	--color-base-content: oklch(97.807% 0.029 256.847);
	--color-primary: oklch(58% 0.233 277.117);
	--color-primary-content: oklch(96% 0.018 272.314);
	--color-secondary: oklch(65% 0.241 354.308);
	--color-secondary-content: oklch(94% 0.028 342.258);
	--color-accent: oklch(77% 0.152 181.912);
	--color-accent-content: oklch(38% 0.063 188.416);
	--color-neutral: oklch(14% 0.005 285.823);
	--color-neutral-content: oklch(92% 0.004 286.32);
	--color-info: oklch(74% 0.16 232.661);
	--color-info-content: oklch(29% 0.066 243.157);
	--color-success: oklch(76% 0.177 163.223);
	--color-success-content: oklch(37% 0.077 168.94);
	--color-warning: oklch(82% 0.189 84.429);
	--color-warning-content: oklch(41% 0.112 45.904);
	--color-error: oklch(71% 0.194 13.428);
	--color-error-content: oklch(27% 0.105 12.094);
	--radius-selector: 1rem;
	--radius-field: 2rem;
	--radius-box: 1rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 2px;
	--depth: 0;
	--noise: 0;
}

/* daisyUI 'system theme' fix */

/* I don't know how this works, sorry. */
@media (prefers-color-scheme: dark) {
	:root:not([data-theme]),
	:root[data-theme="system"] {
		color-scheme: dark;
		--color-base-100: oklch(25.33% 0.016 252.42);
		--color-base-200: oklch(23.26% 0.014 253.1);
		--color-base-300: oklch(21.15% 0.012 254.09);
		--color-base-content: oklch(97.807% 0.029 256.847);
		--color-primary: oklch(58% 0.233 277.117);
		--color-primary-content: oklch(96% 0.018 272.314);
		--color-secondary: oklch(65% 0.241 354.308);
		--color-secondary-content: oklch(94% 0.028 342.258);
		--color-accent: oklch(77% 0.152 181.912);
		--color-accent-content: oklch(38% 0.063 188.416);
		--color-neutral: oklch(14% 0.005 285.823);
		--color-neutral-content: oklch(92% 0.004 286.32);
		--color-info: oklch(74% 0.16 232.661);
		--color-info-content: oklch(29% 0.066 243.157);
		--color-success: oklch(76% 0.177 163.223);
		--color-success-content: oklch(37% 0.077 168.94);
		--color-warning: oklch(82% 0.189 84.429);
		--color-warning-content: oklch(41% 0.112 45.904);
		--color-error: oklch(71% 0.194 13.428);
		--color-error-content: oklch(27% 0.105 12.094);
		--radius-selector: 1rem;
		--radius-field: 2rem;
		--radius-box: 1rem;
		--size-selector: 0.25rem;
		--size-field: 0.25rem;
		--border: 2px;
		--depth: 0;
		--noise: 0;
	}
}
