---

---

<div class="site-bg absolute inset-0 -z-50 size-full blur-sm"></div>

<style>
  .site-bg {
    background-image: linear-gradient(
      to top,
      #14001d,
      #240435,
      #3c0563,
      #5a0b7c,
      #6a0dad,
      #7b149e,
      #4b0082,
      #7b149e,
      #6a0dad,
      #5a0b7c,
      #3c0563,
      #240435,
      #14001d
    );
    background-size: 100% 1600%;

    animation: bg-gradient-anim 240s linear alternate infinite;
  }

  @keyframes bg-gradient-anim {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
</style>
