---
interface Props {
    name : string
    outerColor : string
    innerColor : string
}

const {name, outerColor, innerColor, ...attrs} = Astro.props;
---

<div
    class="h-3/5 flex justify-center items-center mb-5"
    {...attrs}
>
    <div class=`grayscale remove-grayscale card items-center text-center w-3/4 h-full ${outerColor} text-gray-50 p-1.5 transition-all duration-500`>
        <div class=`card items-center text-center size-full ${innerColor} text-gray-50 p-1.5`>
            <h1 class="font-parkinsans font-extralight text-xl mb-1.5">{name}</h1>
            <div class="flex flex-row items-center justify-center gap-5 size-full">
                <slot />
            </div>
        </div>
    </div>
</div>