---

---

<div class="w-full grid items-center justify-center pt-20 pb-5">
    <span class="cursor-default text-center space-y-1">
        <h1 class="font-parkinsans font-light text-4xl grayscale remove-grayscale text-blue-400 transition-all duration-50">Xander Treat</h1>
        <h2 class="font-parkinsans font-semibold text-4xl grayscale remove-grayscale text-blue-600 transition-all duration-500">Fullstack <br>Software Engineer.</h2>
    </span>
</div>