---
// Imports
import Icon from '@xtreat/astro-iconify';
import type { IconifySpecifierFormat }  from '@xtreat/astro-iconify/types';

// Props
interface Props {
    icon : IconifySpecifierFormat
    tooltip? : string | ""
    tailwind? : string | ""
}
const {icon, tooltip, tailwind, ...attrs} = Astro.props;
---

<div
    class={"md:basis-24 md:size-24 basis-12 md:mb-10 flex-shrink flex-grow-0 transition-opacity duration-300 tooltip tooltip-bottom " + tailwind}
    data-tip={tooltip}
    {...attrs}
>
     <Icon class="size-full" icon={icon} />
</div>

