---
// Styling
import '../styles/fonts.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Xander Treat</title>
	</head>
	<body class="absolute inset-0 overflow-hidden anim-bg-gradient bg-cover bg-center bg-no-repeat size-full">
		<slot />
	</body>
</html>

<style>
	.anim-bg-gradient {
		background-image: linear-gradient(to top, black, dimgray, gray, darkgray, silver, lightgray, gainsboro, whitesmoke, white);
		background-size: 100% 800%;

		animation: bg-gradient-anim 600s linear alternate;
	}

	@keyframes bg-gradient-anim {
		0% {background-position:0% 0%}
		50% {background-position:0% 100%}
		100% {background-position:0% 0%}
	}
</style>
