---
// Styling
import '../styles/fonts.css';

// Islands
import Confetti from '../components/islands/Confetti.tsx';
import Background from '../components/Background.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Xander Treat</title>
	</head>
	<body class="overflow-hidden">
		<Background />
		<slot />
		<Confetti client:only="react" />
	</body>
</html>